priority -50



snippet block "twig block" b
{% block ${1} %}
${2}
{% endblock %}
endsnippet



snippet if "twig if" b
{% if ${1} %}
${2}
{% endif %}
endsnippet



snippet for "twig for" b
{% for ${1} in ${2} %}
${3}
{% endfor %}
endsnippet



snippet extends "twig extends" b
{% extends ${1} %}
endsnippet
