snippet tpl_jest
import myFunction from './my-function'

describe('myFunction', () => {
  it('returns correct result', () => {
    const input = {
    }

    const output = {
    }

    expect(myFunction(input)).toEqual(output)
  })
})
endsnippet
