snippet tpl_react_smoke_test
import React from 'react'
import { shallow } from 'enzyme'

import { MyComponent } from '../index.js'

describe('<MyComponent />', () => {
  it('passes a smoke test', () => {
    const props = {
    }
    const wrapper = shallow(<MyComponent {...props} />)
    expect(wrapper.text()).toContain('Heading')
  })
})
endsnippet
