snippet tpl_react_com
import React from 'react'
import PropTypes from 'prop-types'
import styled from 'styled-components'

const MyCom = () => (
	<div>
		<h1>My Component</h1>
	</div>
)

MyCom.propTypes = {
}

export default MyCom
endsnippet

