snippet tpl_osascript
#!/usr/bin/env osascript -l JavaScript

# vim:ft=javascript

function main() {
$1
}

main()
endsnippet



snippet tpl_bash
#!/usr/bin/env bash

# vim:ft=bash

main() {
$1
}

main
endsnippet
