snippet tpl_css_fiddle
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>CSS Fiddle</title>
  <style>


  </style>
</head>
<body>


<!-- The End -->
</body>
</html>
endsnippet
